body{
    background: linear-gradient(90deg, #0e0f19 0%, rgb(38, 12, 185)) ;
    color: #fffdf7;
    text-align: center;
}

.relogio{
    
    background-color: transparent;
    margin-top: 6.25%;
    font-size: 200px;
}
section{
    margin-top: 100px;
    height: 100px;
}